@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';

$backgroundColor: #13a7c7;

body {
	background: $backgroundColor;
}

@import 'bread-unit-table/search';
@import 'bread-unit-table/items';

#container {
	padding-right: 0;
	padding-left: 0;
}

@media (max-width: 767px) {

	body {
		padding-right: 0;
		padding-left: 0;
	}
}

