@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';


body {
	background: #ecf8ff;
}


@import 'bread-unit-table/search';

#container {
	padding-right: 0;
	padding-left: 0;
}

#bread-unit-items {

	li {
		background: #13a7c7; /* Old browsers */
		background: -moz-linear-gradient(top,  #13a7c7 0%, #1399bd 42%, #13a7c7 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#13a7c7), color-stop(42%,#1399bd), color-stop(100%,#13a7c7)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #13a7c7 0%,#1399bd 42%,#13a7c7 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #13a7c7 0%,#1399bd 42%,#13a7c7 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #13a7c7 0%,#1399bd 42%,#13a7c7 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #13a7c7 0%,#1399bd 42%,#13a7c7 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13a7c7', endColorstr='#13a7c7',GradientType=0 ); /* IE6-9 */

		cursor: pointer;

		a {
			color: #ffffff;
		}

		a:hover {
			background: #005682;
		}
	}
}

@media (max-width: 767px) {

	// Padding to set content in a bit
	body {
		padding-right: 0;
		padding-left: 0;
	}
}

